.forma{
    background-color: lightgray;
}

.tablaprincipal{
    border: 1px solid black;
    text-align: center;
    width: 100%;
}

.titulo1{
    text-align: center;
}

.contenedor1{
    margin: 5%;
}

.left{
    float: left;
    text-align: center;
    margin-left: 10%;
}

.right{
    float: right;
    text-align: center;
    margin-right: 10%;
}

.img3{
    margin: 2%;
    margin-left: 15%;
}

.titulo2{
    text-align: center;
}

.style{
    border: solid black;
    width: 100%;
    text-align: center;
}